
<div class="card card-content px-3 py-2 my-2">
	<div class="item">
		<div class="d-flex align-items-center">
			<div class="mx-4 image-product">
				
			</div>
			<div>
				<p><strong>Producto A</strong><br/><small>Fabricante</small></p>
				<br/>
				<p>
					<strong>Origen:</strong> Colombia <br/>
					<strong>Envío:</strong>Envío en 1 día hábil <br/>
					<strong>Stock:</strong> Disponible <br/>
					<strong>Estado:</strong>Nuevo <br/>
				</p>
			</div>
		</div>
	</div>
	<div class="item">
		<p>$38.430</p>
	</div>
	<div class="item">
		<select class="form-select" aria-label="Default select example">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select>
	</div>
	<div class="item">
		<p>$38.430</p>
	</div>
	<div class="item">
		<button class="btn btn-outline-danger">X</button>
	</div>
</div>