<div class="container-box">
  <div class="top-bar">
    <app-top-bar></app-top-bar>
  </div>
  <div class="content">
    <div class="content-board">
			<app-step-to-step class="mb-5"></app-step-to-step>
			<div class="container mt-5">
				<router-outlet></router-outlet>
			</div>
			<footer class="my-5 pt-5 text-muted text-center text-small">
				<p class="mb-1">© 2023 UD BD-2</p>
				<ul class="list-inline">
					<li class="list-inline-item"><a href="#">Privacidad</a></li>
					<li class="list-inline-item"><a href="#">Términos</a></li>
					<li class="list-inline-item"><a href="#">Soporte</a></li>
				</ul>
			</footer>
    </div>
  </div>
  <div class="left-bar">
    <div>
      <app-sidebar-shopping></app-sidebar-shopping>
    </div>
  </div>
</div>