<div class="container">
  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Tus productos</h4>
      <div class="card-content px-3 py-2">
        <div class="item">
          <h5>Producto</h5>
        </div>
        <div class="item">
          <p>Precio</p>
        </div>
        <div class="item">
          <p>Cantidad</p>
        </div>
        <div class="item">
          <p>Subtotal</p>
        </div>
        <div class="item">
          <p>Accion</p>
        </div>
      </div>
      <!--  -->
      <app-selected-products
        *ngFor="let item of data; index as idx"
        [data]="item"
        (deleteitem)="deleteProduct(item)"
        (reCalculate)="calcTotal()"
      >
      </app-selected-products>
      <!--  -->
      <div class="card card-total px-3 py-2 my-2">
        <div class="item"></div>
        <div class="item">
          <h6>{{total | currency:'COP':'$'}}</h6>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
<a class="w-100 btn btn-primary btn-lg" routerLink="/shopping-cart/address">
  Finalizar compra
</a>
