
<div class="col-12 my-2">
	<div class="card px-4 py-4">
		<div class="text-3xl font-medium text-900 mb-2">
			<p>Pedido: <strong>36484248</strong> realizado el viernes 10 de marzo de 2023</p>
			<p>Dirección: <strong>Av. siempre viva 123, Bogotá, Cundinamarca, Colombia</strong></p>
			<p>Total: <strong>$88.920</strong> (Productos $88.920 + Envío gratis)</p>
		</div>
		<div class=" card card-body px-4 py-3">
			<p><strong>Proceso</strong></p>
			<div class="row justify-content-center align-items-center">
				<div class="my-3 d-flex">
					<div class="col-3 background-product mr-5">
						<!-- <img [src]="'https://picsum.photos/id/'+math.trunc(math.random() * (603 - 1063) + 1063)+'/80/120'" alt=""> -->
					</div>
					<div class="col-8 ml-3 px-4">
						<p>Detalles del producto.</p>
					</div>
				</div>
				<br/>
				<div class="col-8 mt-4">
					<div class="row justify-content-center align-items-center">
						<div class="col card card-step">
							Obteniendo Productos
						</div>
						<div class="col card  card-step">
							Slicitando al proveedor
						</div>
						<div class="col card  card-step">
							Viajando
						</div>
						<div class="col card  card-step">
							Enviado
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>