/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.section-title{
  background-color: rgb(237, 237, 237);
  padding: 3px 10px 3px 10px;
  border-radius: 12px;
  color: #3f3f3f;
  margin-bottom: 10px;
}