<div class="container">
  <div class="row justify-content-center ">
    <div class="col-12 my-2">
      <div class="card d-flex justify-content-center">
        <div class=""><p class="p-2 pt-3"><strong>Seguimiento de pedido</strong></p></div>
      </div>
    </div>
    {{activeItem}}
    <p-tabMenu [model]="items" (activeItemChanges)="activeItem=$event"></p-tabMenu>
		<!--  -->
    <div class="container" *ngIf="activeItem.label == 'Compra'">
      <app-purchase-process-card></app-purchase-process-card>
      <app-purchase-process-card></app-purchase-process-card>
      <app-purchase-process-card></app-purchase-process-card>
      <app-purchase-process-card></app-purchase-process-card>
    </div>
    <div class="container" *ngIf="activeItem.label == 'Estado'">
      HOLAAAAA
    </div>
    <div class="container" *ngIf="activeItem.label == 'pago'">
      ADIOOOSSS
    </div>
  </div>
</div>
