<div class="container">
  <div class="row justify-content-center ">
    <div class="col-12 my-2">
      <div class="card d-flex justify-content-center">
        <div class=""><p class="p-2 pt-3"><strong>Seguimiento de pedido</strong></p></div>
      </div>
    </div>
    <p-tabView>
      <p-tabPanel header="Carrito Compras">
          <app-shopping></app-shopping>
      </p-tabPanel>
      <p-tabPanel header="Datos de envío">
          <app-address-shopping></app-address-shopping>
      </p-tabPanel>
      <p-tabPanel header="Realizar pago">
        <app-payment-shopping></app-payment-shopping>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
